<main>
<div>
  <p>Galpão <%= @warehouse.code %></p>
  <p>Nome: <%= @warehouse.name %></p>
  <p>Cidade: <%= @warehouse.city %></p>
  <p>Área: <%= @warehouse.area %> m2</p>
  <p>Endereço: <%= @warehouse.address %> m2</p>
  <p>CEP: <%= @warehouse.cep %> m2</p>
  <p>Descrição: <%= @warehouse.description %> m2</p>
</div>

<div>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
  <%= button_to 'Deletar', warehouse_path(@warehouse.id), method: :delete %>
</div>
<div>
  <%= link_to 'Voltar', root_path %>
</div>
</main>