<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if flash.any? %>
      <div>
        <% flash.each do |type, msg|  %>
          <%= msg %>
        <% end  %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
